{% extends 'base.html.twig' %}

{% block body %}
<form action="">
  <label>Nouveau paiement</label>


  <label>Numéro</label>
  <input type="text">
  <label>Mois</label>
  <input type="number">
  <label>Année</label>
  <input type="number">
  <label>CVC</label>
  <input type="number">
  
</form>
{% endblock %}
